.btn-add{
    color:#fff;
    background-color: #D90D58;
    border-radius: 20px;
    border:solid 1px#D90D58;
    width: 130px;        /* ancho del botón */
       /* alto del botón */
    color: white;

}
.btn-add:hover{
     color:#D90D58;
    background-color: #fdebf2;
     border-radius: 15px;
     border:solid 1px#D90D58;
}
.text-price {
    color:#D90D58;
}
.product{
    transition: 0.3s;
}
.product:hover{
    background-color: #ff97d44b; /* color suave tipo pastel */
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(255, 85, 156, 0.2);
    border-radius: 3%;
}